.header{
    background-color: #1a242f;
    height:70px;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color: #ffff;
    font-size:30px ;
    font-weight: 600;
}
.img-user,
.img-user img{
    width :45 px;
    height: 45px; 

}
.search-bar{
    width: 50%;
    display: flex;
    justify-content: center;
}
 form{
display: flex;
justify-content: center;
width: 70%;
}
button{
    padding: 0px 10px;
    font-size: 20px;
    cursor: pointer;
    height:40px ;
}
input{
font-size: 20px;
width: 100%;
padding: 5px 5px 5px 10px;
height: 40px;
outline: none;
}
